[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "steps"]
	path = steps
	url = https://github.com/steps-dev/steps
	shallow = true
	registered = true
